.cart {
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 2;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  --webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 7px;

  h1{
    font-weight: 400;
    color: gray;
  }
  .item {
    display: flex;
    justify-content: center;
    gap:25px;
    align-items: center;

    p{
      font-size: 18px;
      font-weight: 300;
      text-align: justify;
    }


    .price{
        color:#2879fe;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    img {
      width: 100px;
      height: 150px;
      object-fit: cover;
    }

    .delete{
        color:rgb(160, 0, 0);
        font-size: 30px;
        cursor: pointer;
    }
  }

  button{
    width: 250px;
    padding: 15px;
    border-radius: 15px;
    background-color: #2879fe;
    color: white;
    cursor: pointer;
    border: none;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .total{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .reset{
    color: rgb(163, 10, 10);
    
    cursor: pointer;
  }
}

        